{% extends 'base.html.twig' %}

{% block title %}Créer un nouvel événement{% endblock %}

{% block body %}
    <section class="container">
<div class="row mt-4">
    <h1>Créer un nouvel événement</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-yoopla-primary rounded rounded-4 mt-4 btn-lg">Créer l'événement</button>
    {{ form_end(form) }}

    <a href="{{ path('event_index') }}">Retour à la liste des événements</a>
    </div>
</section>
{% endblock %}
