###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
.phpunit.result.cache
###< phpunit/phpunit ###

# Ignore Symfony binary cache (facultatif)
.Symfony*

# IDEs & environnement local (facultatif, utile en équipe)
/.idea/
/.vscode/
/*.iml

# Couverture de test (si utilisée)
/coverage/
